.head{
    padding: 1.2rem 8rem;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.head div{
    /* padding: 1rem 2rem 1rem 5rem; */
    font-weight: bold;
    font-size: 1.5rem;
}

.head button{
    padding: 0.9rem 3rem;
    border: 1px solid rgb(80, 21, 21);
    border-radius: 22px;
    background: rgb(80, 21, 21);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.head button span{
    border: 1px solid brown;
    border-radius: 10px;
    background: brown;
    margin: 0.5rem;
    padding: 0.2rem 0.6rem;
    font-weight: bold; 
}